@(data : List[QuerySearchResult])
@import helper._

@main("Welcome") {
  <div class="search-wrapper">
    <div class="search-wrapper__box">
      <h3 class="search-wrapper__heading">Reddit Analysis</h3>
      <form style="margin-bottom: 1em" action="" method="GET">
        <input
          type="text"
          class="search-wrapper__input"
          name="q"
          placeholder="Enter Search Term"
          id="searchBox"
        />
        <button class="search-wrapper__action" id="go">Search</button>
      </form>
    </div>
  </div>

  @for(record <- data) {
    <div class="searchResultBox">
      <div style="text-align: left; padding-left: 10px">
        <h3 style="display: inline-block">Search terms:</h3>
        <a style="display: inline-block" href="/stats/@record.getSearchTerm()">
          @record.getSearchTerm()
        </a>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Subreddit</th>
              <th>Description</th>
            </tr>
          </thead>
          @for(post <- record.getData()) {
            <tr>
              <td>@post.title</td>
              <td><a href="/user/@post.author">@post.author</a></td>
              <td><a href="/thread/@post.subreddit">@post.subreddit</a></td>
              <td>@post.selftext</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  }
}
