@(record : QuerySearchResult)
@import helper._

@main("Welcome") {
  <div class="search-wrapper">

    <div class="searchResultBox">
      <h3 class="search-wrapper__heading">Reddit Word Stats</h3>
      <div style="text-align: left; padding-left: 10px">
        <h3 style="display: inline-block">Search terms:</h3>
        <a style="display: inline-block">
          @record.getSearchTerm()
        </a>

        <table>
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            @for(item <- record.getAnalytics()) {
              <tr>
                <td>@item.getKey()</td>
                <td>@item.getValue()</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
