@(record : QuerySearchResult)
@import helper._

@main("Welcome") {
  <div class="container">

    <a href="/">Go Back</a><br/><br/>

    <h2 class="title">Word Stats</h2>
    <h3 class="subtitle is-5">
      @record.getSearchTerm()
    </h3>


    <div class="table-container">
      <table class="table is-hoverable is-bordered">
        <thead>
          <tr>
            <th>Frequency</th>
            <th>Words used</th>
          </tr>
        </thead>
        <tbody>
          @for(item <- record.getAnalytics()) {
            <tr>
              <td>@item.getValue()</td>
              <td>@item.getKey()</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
}
